<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>loggedIn</filter-name>
        <filter-class>filters.loggedIn</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loggedIn</filter-name>
        <url-pattern>/profile.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.NewServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>checklogin</servlet-name>
        <servlet-class>servlets.checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadUser</servlet-name>
        <servlet-class>servlets.loadUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>servlets.adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addQuestion</servlet-name>
        <servlet-class>servlets.addQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answerQuestion</servlet-name>
        <servlet-class>servlets.answerQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>servlets.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImagePic</servlet-name>
        <servlet-class>servlets.uploadImagePic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImageBG</servlet-name>
        <servlet-class>servlets.uploadImageBG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checklogin</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadUser</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuestion</servlet-name>
        <url-pattern>/addQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answerQuestion</servlet-name>
        <url-pattern>/answerQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImagePic</servlet-name>
        <url-pattern>/uploadImagePic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImageBG</servlet-name>
        <url-pattern>/uploadImageBG</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
